* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto';
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}
body {
  background: #98C0FF;
}
.main {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.user__item {
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
}
/* === Header === */
.header {
  width: 100%;
  min-height: 112px;
  background: #323232;
  display: flex;
  align-items: center;
  padding: 31px 20px;
}
.header__content {
  width: 153px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 10px;
}
.header__content h2 {
  font-size: 18px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 2px;
}
.header__content p {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 300;
}
/* === Chat body === */
.chat {
  height: 632px;
  padding: 10px;
  overflow-y: scroll;
  background: url('../images/bg.png') center center / cover no-repeat;
}
.chat::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
.chat::-webkit-scrollbar-thumb {
  width: 100%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
}
.chat-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.chat-message__body {
  display: flex;
  align-items: center;
  gap: 5px;
}
.chat-message__info {
  max-width: 302px;
  padding: 5px 5px 5px 10px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.chat-message__time {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}
.chat-message.get .chat-message__body {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.chat-message.get .chat-message__info {
  background: #C4BFFF;
  border-radius: 15px 15px 15px 0px;
}
.chat-message.send .chat-message__body {
  justify-content: flex-end;
}
.chat-message.send .chat-message__info {
  background: #D0DCFF;
  border-radius: 15px 15px 0px 15px;
}
/* === Footer === */
.footer {
  width: 100%;
  background: #323232;
  padding: 16px 20px;
  display: flex;
  align-items: center;
}
.footer textarea {
  flex-grow: 1;
  background: none;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  resize: none;
}
.footer textarea::-webkit-scrollbar {
  display: none;
}
.footer .send-mess {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .send-mess img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
/* === Modal === */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  display: none;
  justify-content: center;
  align-items: center;
}
.modal.active {
  display: flex;
}
.modal-content {
  background: #F2F7FF;
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  border-radius: 28px;
}
.modal__inp {
  padding: 8px 16px 0;
  background: #E7E0EC;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #000000;
}
.modal__inp-label {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: #000000;
  margin-bottom: 5px;
}
.modal__inp input,
.modal__inp textarea {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #000000;
  border: none;
  outline: none;
  background: none;
  resize: none;
}
.modal-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
.modal-btns button {
  border: none;
  outline: none;
  background: none;
  padding: 10px 12px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1px;
  cursor: pointer;
}
.modal-del {
  color: #CF1B1B;
}
.modal-edit {
  color: #6750A4;
}